Repository IAMconsortium/pyam, pull requests merged in 2021-06, with the labels that each got.

#541 Support units in binary operations
  RELEASE_NOTES.md
  pyam/_ops.py
  pyam/core.py
  pyam/units.py
  tests/test_ops.py
Labels: data back-end, data-ops

#543 Add a tutorial for working with algebraic operations
  RELEASE_NOTES.md
  doc/source/_static/custom.css
  doc/source/conf.py
  doc/source/examples/README.txt
  doc/source/tutorials.rst
  doc/source/tutorials/GAMS_to_pyam.ipynb
  doc/source/tutorials/aggregating_downscaling_consistency.ipynb
  doc/source/tutorials/algebraic_operations.ipynb
  doc/source/tutorials/data_table_formats.ipynb
  doc/source/tutorials/pyam_first_steps.ipynb
  doc/source/tutorials/subannual_time_resolution.ipynb
  doc/source/tutorials/tutorial_data_aggregating_downscaling.csv
  doc/source/tutorials/unit_conversion.ipynb
  pyam/_ops.py
  tests/test_ops.py
Labels: data-ops, tutorial

#534 added feature drop negative weights
  AUTHORS.rst
  RELEASE_NOTES.md
  pyam/_aggregate.py
  pyam/core.py
  tests/test_feature_aggregate.py
Labels: enhancement

#549 figure.py: make plotly an optional dependency
  .github/workflows/build-docs.yml
  .github/workflows/nightly.yml
  .github/workflows/pytest-dependency.yml
  .github/workflows/pytest.yml
  RELEASE_NOTES.md
  pyam/figures.py
  readthedocs.yml
  setup.py
Labels: dependencies, plotting

#547 update ipcc colors for wg1
  pyam/plotting.py
  tests/expected_figs/test_line_PYAM_COLORS.png
Labels: plotting

#551 Default to IamDataFrame-time-col on the x-axis of plots
  RELEASE_NOTES.md
  pyam/plotting.py
Labels: datetime, plotting
